<div class="add-recipe-page">
    <div class="container">

        <form class="add-recipe">
            <h2>Share a Recipe</h2>
            <div>
                <label for="title">Recipe Name</label>
                <input class="text" type="text" placeholder="title" />
            </div>
            <div>
                <label for="readyIn">Preparation Time</label>
                <input class="text" type="text" placeholder="readyIn" />
            </div>
            <div>
                <label for="ingredients">Ingredients</label>
                <input class="text" type="text" placeholder="ingredients" />
            </div>
            <div>
                <label for="serves">No. of Servings</label>
                <input class="text" type="number" placeholder="serves" />
            </div>
            <div>
                <label for="image">Image Url</label>
                <input class="text" type="text" placeholder="image" />
            </div>
            <div>
                <label for="description">Description</label>
                <textarea class="text" name="description" placeholder="description"></textarea>
            </div>
            <div class="button">
                <button>Submit</button>
                <button>Cancel</button>
            </div>
        </form>

    </div>
</div>