app-recipe-catalog {
    display: flex;
    flex-grow: 1;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    max-height: 100%;
}

.card {
    flex-basis: 25%;
    background-color: white;
}

.app-recipe-catalog {
    flex-grow: 1;
}