app-recipe-catalog {
    display: flex;
    flex-grow: 1;
}

.catalog {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    max-height: 100%;
    gap: 1.3em;
    /* justify-content: center; */
}

.card {
    flex-basis: 24%;
    background-color: white;
    border-radius: 0.2em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.card:hover {
    background-color: lightblue;
    transition: 1500ms;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.card .media img {
    padding: 0.2em;
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;

}

.app-recipe-catalog {
    flex-grow: 1;
}