<div class="container">
    <div class="catalog">
        <div class="card">
            <div class="media">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg/800px-Good_Food_Display_-_NCI_Visuals_Online.jpg"
                    alt="">
            </div>
            <div class="contend">
                <h4>VEGETARIAN DINNER</h4>
                <h3>Buffalo Cauliflower Tacos With Ranch Sauce</h3>
                <div class="time-likes">
                    <p>25 min</p>
                    <p>100 likes</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="media">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg/800px-Good_Food_Display_-_NCI_Visuals_Online.jpg"
                    alt="">
            </div>
            <div class="contend">
                <h4>VEGETARIAN DINNER</h4>
                <h3>Buffalo Cauliflower Tacos With Ranch Sauce</h3>
                <div class="time-likes">
                    <p>25 min</p>
                    <p>100 likes</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="media">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg/800px-Good_Food_Display_-_NCI_Visuals_Online.jpg"
                    alt="">
            </div>
            <div class="contend">
                <h4>VEGETARIAN DINNER</h4>
                <h3>Buffalo Cauliflower Tacos With Ranch Sauce</h3>
                <div class="time-likes">
                    <p>25 min</p>
                    <p>100 likes</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="media">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg/800px-Good_Food_Display_-_NCI_Visuals_Online.jpg"
                    alt="">
            </div>
            <div class="contend">
                <h4>VEGETARIAN DINNER</h4>
                <h3>Buffalo Cauliflower Tacos With Ranch Sauce</h3>
                <div class="time-likes">
                    <p>25 min</p>
                    <p>100 likes</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="media">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg/800px-Good_Food_Display_-_NCI_Visuals_Online.jpg"
                    alt="">
            </div>
            <div class="contend">
                <h4>VEGETARIAN DINNER</h4>
                <h3>Buffalo Cauliflower Tacos With Ranch Sauce</h3>
                <div class="time-likes">
                    <p>25 min</p>
                    <p>100 likes</p>
                </div>
            </div>
        </div>
    </div>
</div>