<div class="container">
    <div class="catalog">
        <div class="card" *ngFor="let recipe of allRecipes">
            <div class="media">
                <img src={{recipe.image}}
                    alt="">
            </div>
            <div class="contend">
                <h4>RECIPE BY {{recipe.ownerUsername}} FOR</h4>
                <h3>{{recipe.title}}</h3>
                <div class="time-likes">
                    <p>{{recipe.readyIn}} min</p>
                    <p>{{recipe.likes.length}} likes</p>
                </div>
            </div>
        </div>
    </div>
</div>