<div class="container">
    <div class="details">
        <header>
            <h1>{{recipe.title}}</h1>
            <p>Presented by {{recipe.ownerUsername}}</p>
        </header>
        <div class="media">
            <img src={{recipe.image}}
                alt="">
        </div>
        <div class="information">
            <p><span><b>Cook Time:</b></span><br>{{recipe.readyIn}} min</p>
            <p><span><b>Servings:</b></span><br>{{recipe.serves}}</p>
            <p><span><b>Likes:</b></span><br>{{recipe.likes.length}}</p>
        </div>

        <div class="ingredients">
            <h2>Ingredients</h2>
            <p>{{recipe.ingredients}}</p>
        </div>

        <div class="description">
            <h2>How to make Title</h2>
            <p>{{recipe.description}}</p>
        </div>

        <div class="buttons">
            <button *ngIf="isLoggedIn && !isOwner">Like</button>
            <button *ngIf="isOwner">Edit</button>
            <button (click)="deleteHandler()" *ngIf="isOwner">Delete</button>
        </div>
    </div>
</div>