<div class="container">
    <div class="details">
        <header>
            <h1>Title</h1>
            <p>Presented by Username</p>
        </header>
        <div class="media">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXrsENFPRTdSZW-7w91Vr8rlny726PoSIOFg&usqp=CAU"
                alt="">
        </div>
        <div class="information">
            <p><span><b>Cook Time:</b></span><br>45 min</p>
            <p><span><b>Servings:</b></span><br>10</p>
            <p><span><b>Likes:</b></span><br>100</p>
        </div>

        <div class="ingredients">
            <h2>Ingredients</h2>
            <p>4 cups all-purpose flour, ½ cup margarine or butter, softened, 4 tablespoons white sugar, 1 teaspoon
                baking
                soda</p>
        </div>

        <div class="description">
            <h2>How to make Title</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, consequatur?</p>
        </div>

        <div class="buttons">
            <button>Like</button>
            <button>Edit</button>
            <button>Delete</button>
        </div>
    </div>
</div>