<div class="container">
    <div class="detailds">
        <header>
            <h1>Title</h1>
            <p>Presented by Username</p>
        </header>
        <div class="media">
            <img src="https://www.allrecipes.com/thmb/N3hqMgkSlKbPmcWCkHmxekKO61I=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Easyspaghettiwithtomatosauce_11715_DDMFS_1x2_2425-c67720e4ea884f22a852f0bb84a87a80.jpg"
                alt="">
        </div>
        <div class="infirmation">
            <p>Cook Time: 45 min</p>
            <p>Servings: 10</p>
            <p>Likes: 100</p>
        </div>

        <div class="ingredians">
            <p>4 cups all-purpose flour, ½ cup margarine or butter, softened, 4 tablespoons white sugar, 1 teaspoon
                baking
                soda</p>
        </div>

        <div class="description">
            <h2>How to make Title</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, consequatur?</p>
        </div>

        <div class="buttons">
            <button>Like</button>
            <button>Edit</button>
            <button>Delete</button>
        </div>
    </div>
</div>