<div class="login-page">
    <div class="container">
        <form class="login-form">
            <h2>Login Form</h2>
            <div>
                <i class="fa-regular fa-user"></i>
                <input type="text" placeholder="username" />
            </div>
            <div>
                <i class="fa-solid fa-lock"></i>
                <input type="password" placeholder="password" />
            </div>
            <button>Login</button>
            <p class="message">Not registered? <a routerLink="/register">Create an account</a></p>
        </form>
    </div>
</div>