<div class="login-page">
    <div class="container">
        <div class="login-form">
            <h2>Login Form</h2>
            <p class="err" *ngIf="err">{{errMsg}}</p>
            <div>
                <i class="fa-regular fa-user"></i>
                <input type="text" placeholder="email" #ngEmail />
            </div>
            <div>
                <i class="fa-solid fa-lock"></i>
                <input type="password" placeholder="password" #ngPassword />
            </div>
            <button (click)="login(ngEmail.value, ngPassword.value)">Login</button>
            <p class="message">Not registered? <a routerLink="/register">Create an account</a></p>
        </div>
    </div>
</div>