* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 16px/1.5 Helvetica, sans-serif;
}

img {
    max-width: 100%;
    height: 100%;
}

body {
    background-color: lightblue;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

body {
    background-color: #1A0F0E;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
    background-image: url(../../image/ppjyzfwgu3bslgx649uvkwoixqqyaecyqhdumlgebllo3eacpfu8n08enom0fnhj-.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}