<div class="register-page">
    <div class="container">
        <form class="register-form">
            <h2>Registration Form</h2>
            <div>
                <i class="fa-regular fa-user"></i>
                <input type="text" placeholder="DeHkO" />
            </div>
            <div>
                <i class="fa-regular fa-envelope"></i>
                <input type="text" placeholder="deni@abv.bg" />
            </div>
            <div>
                <i class="fa-solid fa-lock"></i>
                <input type="password" placeholder="*****" />
            </div>
            <div>
                <i class="fa-solid fa-lock"></i>
                <input type="password" placeholder="*****" />
            </div>
            <button>Create Account</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>
    </div>
</div>